---
import Layout from "../layouts/Layout.astro";
import TransitionImage from "../components/TransitionImage.astro";
---

<Layout>
  <ul class="timeline">
    <li class="timeline-event timeline-event-current">
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">September 2023 - Now (+1 year)</p>
        <h3>Fullstack <span class="highlight">Vue/Nuxt</span></h3>
        <h4>
          <a
            href="https://beta.gouv.fr/incubateurs/anct.html"
            target="_blank"
            title="Open description of the Incubateur des Territoires on the beta.gouv.fr website in a new tab"
            >Incubateur des Territoires / Beta.gouv.fr</a
          >
          (French Public Service) [Freelance]
        </h4>
        <a
          href="https://beta.gouv.fr/"
          target="_blank"
          title="Open beta.gouv.fr website in a new tab"
        >
          <TransitionImage
            class="logo logo-xl"
            picture="betagouvfr.svg"
            darkPicture="logo-anct-dark.svg"
            alt="Beta.gouv.fr logo"
          />
        </a>
        <p>
          Scaling up from a regional service to the national scale :<br />
          <a
            href="https://espacesurdemande.anct.gouv.fr/rechercher-un-espace"
            target="_blank"
            title="Open Espace Sur Demande in a new tab"
            >https://espacesurdemande.anct.gouv.fr/</a
          > is an "AirBnB"-like service for public spaces (meeting rooms, offices,
          gymnasium, etc…)<br />

          Existing product was in <strong>Nuxt 2</strong> (Vue.JS 2) with a Symfony
          backend (API Platform)<br />
          • Moving to Nuxt 3 (Vue.JS 3),<br />
          • Implementiong new features,<br />
          • Improving code quality and performance (<a
            href="https://playwright.dev/"
            target="_blank"
            title="Open Playwright in a new tab">Playwright</a
          >),<br />
          • Improving accessibility (<strong>RGAA</strong>)
        </p>
        <p>Full Remote</p>
      </div>
    </li>
    <li class="timeline-event timeline-event-current">
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">May 2019 - April 2023 (4 years)</p>
        <h3>Fullstack <span class="highlight">Node.JS</span>/Vue</h3>
        <h4>
          <a
            href="https://bedrockstreaming.com/"
            target="_blank"
            title="Open website of Bedrock Streaming in a new tab"
            >Bedrock Streaming</a
          > (ex M6 Group) [Freelance]
        </h4>
        <a
          href="https://bedrockstreaming.com/"
          target="_blank"
          title="Open website of Bedrock Streaming in a new tab"
        >
          <TransitionImage
            class="logo"
            darkPicture="Bedrock-Blanc.png"
            picture="Bedrock-Black.png"
            alt="Bedrock Streaming logo"
          />
        </a>

        <p>
          Video Team 🎞<br /><br />
          Revamping of the video transcoding/packaging/delivery platform (codename
          PIXEL) <br />
          • Using <strong>Lambda</strong> microservices and backend API with
          <strong>Node.JS</strong> and <strong>TypeScript</strong><br />
          • On <strong>AWS cloud</strong> environment with
          <strong>Terraform</strong><br />
          • <strong>Monorepo</strong> with
          <a href="https://github.com/lerna/lerna">Lerna</a><br />
          • Frontend supervision UI with Vue.JS<br />
          • Agile management
        </p>
        <p>Remote + Lyon (France) 🇫🇷</p>
      </div>
    </li>
    <li class="timeline-event">
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">
          September 2018 - May 2019 (9 months)
        </p>
        <h3>Fullstack PHP/<span class="highlight">Vue</span></h3>
        <h4>Brayton Global [Freelance]</h4>
        <TransitionImage
          class="logo logo-small"
          picture="brayton_logo.png"
          alt="Brayton Global logo"
        />
        <p>
          Web application for HR management<br />
          Mainly <strong>Vue.JS</strong> frontend (and UI design)<br />
          Along with <strong>Symfony 4</strong> (PHP) API backend<br />
          CI/CD & Linux servers
        </p>
        <p>Remote + Brussels (Belgium) 🇧🇪</p>
      </div>
    </li>
    <li class="timeline-event">
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">
          March 2018 - September 2018 (7 months)
        </p>
        <h3><span class="highlight">Blockchain</span> & Security Engineer</h3>
        <h4>Amaris</h4>
        <TransitionImage
          class="logo"
          picture="logo-amaris.png"
          darkPicture="amaris-white.png"
          alt="Amaris logo"
        />
        <p>
          Study DLT solutions & PoC<br />
          Working on <strong>Multichain</strong>, Hyperledger, Ethereum, Nimiq<br
          />
          Also <strong>Go</strong> & Vue.JS<br />
        </p>
        <p>Lyon (France) 🇫🇷</p>
      </div>
    </li>
    <li class="timeline-event">
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">
          October 2017 - February 2018 (5 months)
        </p>
        <h4>VDS Consulting</h4>
        <p>
          Improving existing software using
          <strong class="highlight">Symfony 2</strong>
        </p>
        <p>Full Remote</p>
      </div>
    </li>

    <li class="timeline-event">
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">
          March 2017 - August 2017 (6 months)
        </p>
        <h3><span class="highlight">Security</span> Internship</h3>
        <h4>Zenika</h4>
        <TransitionImage class="logo" picture="zenika.png" alt="Zenika logo" />
        <p></p>
        <p>
          Creation of an internal <strong>crypto-currency</strong> connected to a
          web application<br />
          Multichain, Vue.JS frontend, Spring backend
        </p>

        <p>
          Contributing to some security tools like
          <a href="http://github.com/rapid7/metasploit-framework"
            >Metasploit Framework</a
          >
          and
          <a href="https://github.com/zaproxy/zaproxy">ZAP</a>
        </p>

        <p>
          Setting up Honeypots and an audit platform with Elastic Stack (ELK)
        </p>

        <p class="list">
          Writing and co-writing blog posts (french, sorry!):
          <a href="https://zen-sec.github.io/fr/java-heapdump-extraction/"
            >How to extract credentials from Java Heap Dump</a
          >
          <a
            href="https://blog.zenika.com/2017/09/07/retour-sur-la-nuit-du-hack-2017/"
            >Back on NDH 2017</a
          >
          <a
            href="https://blog.zenika.com/2017/09/12/plongeon-dans-les-profondeurs-de-linternet-entre-darknets-et-cybercriminalite-2/"
            >Diving in the depths of the internet, between Darknets and Cyber
            Crimes</a
          >
          <a
            href="https://blog.zenika.com/2017/09/25/metasploit-en-2017-ca-donne-quoi/"
            >Metasploit in 2017</a
          >
          <a
            href="https://blog.zenika.com/2017/11/23/metasploit-plongeon-dans-le-framework"
            >Hands on Metasploit</a
          >
        </p>
        <p>Lyon + Paris (France) 🇫🇷</p>
      </div>
    </li>
    <li class="timeline-event">
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">
          February 2016 - August 2016 (~ 3 months cumulative time)
        </p>
        <h3>Free time developer</h3>
        <h4>Brayton Global</h4>
        <TransitionImage
          class="logo"
          picture="skillmatrix.png"
          alt="SkillMatrix logo"
        />
        <p>
          Development of the human resources management application SkillMatrix<br
          />
          <strong>Symfony 2.8</strong> - Continuous Delivery - Git - Team Work
        </p>
        <p>
          Development of a real estate crowdfunding website for Dubai (during
          summer 2016)<br />
          <strong>Symfony 3</strong> - Continuous Delivery - Git - Team Work
        </p>
        <p>Remote + Lyon (France) 🇫🇷</p>
      </div>
    </li>
    <li class="timeline-event">
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">
          July 2015 - February 2016 (8 months)
        </p>
        <h3>Internship</h3>
        <h4>Brayton Global</h4>
        <TransitionImage
          class="logo"
          picture="vemasys.png"
          alt="VeMaSys logo"
        />
        <p>
          Development of a management application (SaaS) for the inland
          navigation sector in an international context
        </p>
        <p><strong>Symfony 2</strong> - Linux - Python - Team Work</p>
        <p>Brussels + Anvers (Belgium) 🇧🇪</p>
      </div>
    </li>
    <li class="timeline-event">
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">September 2012 - 2017</p>
        <h3><span class="highlight">Master</span> in Computer Science</h3>
        <h4>
          <a
            href="https://polytech.univ-lyon1.fr/"
            target="_blank"
            title="Open Polytech Lyon website on a new tab">Polytech Lyon</a
          >
        </h4>
        <a
          href="https://polytech.univ-lyon1.fr/"
          target="_blank"
          title="Open Polytech Lyon website on a new tab"
        >
          <TransitionImage
            class="logo"
            picture="polytech.png"
            alt="Polytech Lyon logo"
          />
        </a>
        <p>
          <strong>2012 - 2014</strong> : Integrated preparatory program of the University
          Polytechnic of Lyon.<br />
          Theoretical training based on mathematics and computer science from the
          Claude Bernard University.
        </p>
        <p>
          <strong>2014 - 2017</strong> : Engineering program of Polytech Lyon in
          computer science specialty.
        </p>
        <p class="list">
          Topics:<br />
          <span>• Networks</span>
          <span>• DataBases, BI, Big Data</span>
          <span>• Web/Mobile Technologies</span>
          <span>• Embebed Software</span>
          <span>• Modeling and problem solving by computer</span>
          <span>• Distributed computing</span>
          <span>• AI</span>
        </p>
        <p class="list">
          I also volunteered in student associations :
          <span
            >• <strong>President</strong> and
            <strong>Vice-Président</strong> of the junior enterprise association
            <a href="https://junior-polyenco.fr/">Polyenco</a></span
          >
          <span
            >• Member of <a href="http://insecurity-insa.fr/">Insecurity</a>,
            the IT security association of INSA Lyon</span
          >
          <span>• Photographer in the Arts Office</span>
        </p>
      </div>
    </li>
  </ul>
</Layout>

<style>
  .timeline,
  .timeline-event,
  .timeline-event-copy {
    position: relative;
  }

  .timeline {
    margin: 4rem auto;
    max-width: 61rem;
  }

  .timeline-event-copy {
    padding: 2em;
    top: -1.875em;

    p:not(.timeline-event-thumbnail) {
      padding-bottom: 1.2em;
    }
  }

  h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.4em;
    margin-bottom: 0.4em;
  }

  h4 {
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 1.2em;
  }

  .timeline-event-thumbnail {
    font-size: 0.9em;
    display: inline-block;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .highlight {
    font-weight: bold;
  }

  :global(.dark-mode) .highlight {
    color: var(--color-primary);
  }

  .logo {
    width: 100px;
    float: right;
    margin: 1rem;
    margin-right: 13px;
  }

  .logo-small {
    width: 66px;
    margin-right: 30px;
  }

  .logo-xl {
    width: 126px;
    margin-right: 0px;
  }

  .list {
    display: inline-grid;
  }

  @media screen and (max-width: 600px) {
    .logo {
      float: none;
      margin: 1rem auto;
      display: flex;
    }

    .timeline-event-copy h4 {
      margin-bottom: 0.3rem;
    }
  }
</style>
