---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <div class="container">
    <nav>
      {
        ["Open Source", "Contributions", "Hackathon", "Commercial"].map(
          (section) => (
            <a href={"#" + section.toLowerCase().replace(" ", "-")}>
              {section}
            </a>
          )
        )
      }
    </nav>

    <section id="open-source">
      <h1>Open Source</h1>

      <div class="cards">
        <Card title="ArchiGuesser (2022-2024)" img="archiguesser.png">
          <p slot="text">
            A daily game for architects and enthusiasts, inspired by Framed and
            Wordle.<br />
            Each day a architectural project is picked from a curated list and you
            have 6 pictures to guess which one it is.<br /><br />
            Built with <strong>Vue.JS 3</strong> with <strong>TypeScript</strong
            ><br />
            Backend using <strong>Rust</strong> with SQLite and Actix Web
          </p>

          <Fragment slot="footer">
            <a href="https://archiguesser.com" class="icon icon-play"></a>
            <a
              href="https://github.com/flibustier/archiguesser"
              class="icon icon-gh"></a>
          </Fragment>
        </Card>

        <Card title="JWT Online Cracker (2024)" img="jwt-cracker.png">
          <p slot="text">
            Brute-force HS256, HS384 or HS512 JWT Token from your browser. Using
            exclusively 100% client-side JavaScript. No installation needed.<br
            /><br />
            Built with <strong>Vue.JS 3</strong> with <strong>TypeScript</strong
            >
          </p>

          <Fragment slot="footer">
            <a href="https://jwt-cracker.online" class="icon icon-play"></a>
            <a
              href="https://github.com/flibustier/jwt-online-cracker"
              class="icon icon-gh"></a>
          </Fragment>
        </Card>

        <Card title="Collector (2020)" img="collector.svg">
          <p slot="text">
            Manage your 2€ commemoratives coins collections<br />
            Easy, free and open source<br /><br />
            Built with <strong>Vue.JS</strong>, no backend, serverless<br />
            Data are exclussively client side
          </p>
          <Fragment slot="footer">
            <a
              href="https://flibustier.github.io/collector"
              class="icon icon-play"></a>
            <a
              href="https://github.com/flibustier/collector"
              class="icon icon-gh"></a>
          </Fragment>
        </Card>

        <Card title="E-Coin (2018)" img="ecoin-dark.png">
          <p slot="text">
            E-Coin is a corporate currency, using private blockchain (<strong
              >Multichain</strong
            >), Go backend and Vue.JS frontend.<br />
            It serves as a demo of a blockchain application and can be used to create
            a digital asset rewarding system for your employees.
          </p>
          <Fragment slot="footer">
            <a href="https://flibustier.github.io/e-coin" class="icon icon-el"
            ></a>

            <a class="icon icon-gh" href="https://github.com/flibustier/e-coin"
            ></a>
          </Fragment>
        </Card>
        <Card
          title="jonathan.pl (2024 update)"
          img="astro-icon-dark.svg"
          darkImg="astro-icon-light-gradient.svg"
        >
          <p slot="text">
            2024: v4 of my personal Portfolio 🚀<br />
            Migration from <a href="https://nuxtjs.org/">Nuxt.JS</a> (2.x reaching
            End Of Life) and Vue.JS<br />
            To <a href="https://astro.build">Astro</a> (pre-rendered), also moving
            from homemade SCSS to CSS 3
          </p>
          <Fragment slot="footer">
            <a
              class="icon icon-gh"
              href="https://github.com/flibustier/flibustier.github.io/"></a>
          </Fragment>
        </Card>
      </div>
    </section>

    <section id="contributions">
      <h1>Contributions</h1>

      <div class="cards">
        <Card title="Metasploit Framework (2017)" img="metasploit.png">
          <Fragment slot="text">
            <p>
              3 pull requests on
              <a href="https://www.metasploit.com/">Metasploit Framework</a>,
              the world’s most used penetration testing framework, which is in
              Ruby:
            </p>
            <a href="https://github.com/rapid7/metasploit-framework/pull/8100/"
              >- Improvement and bug fixes of the web crawler module
              (Msfcrawler)</a
            ><br />
            <a href="https://github.com/rapid7/metasploit-framework/pull/8104/"
              >- Improvement of the web module for testing website, with a
              reproduction of tree function from Linux</a
            ><br />
            <a href="https://github.com/rapid7/metasploit-framework/pull/8774/"
              >- Creation of a new module for gathering docker credentials</a
            ><br />
          </Fragment>
        </Card>

        <Card title="ZeroNet + ZAP (2017)" img="alpine.png">
          <Fragment slot="text">
            <p>
              <a href="https://github.com/HelloZeroNet/ZeroNet/pull/1028"
                >Revamped Dockerfile of ZeroNet</a
              >, reducing its size from 421 MB to 77 MB (using
              <a href="https://alpinelinux.org/">Alpine Linux</a>).<br />
              ZeroNet is a decentralized internet using Bitcoin crypto and BitTorrent
              network.
            </p>
            <p style="margin-top: 1rem">
              <a href="https://github.com/zaproxy/zaproxy/pull/3770"
                >Cleared dockerfiles of OWASP Zed Attack Proxy (ZAP)</a
              >, which is one of the world’s most popular free security tools
              and is actively maintained by hundreds of international
              volunteers.
            </p>
          </Fragment>
        </Card>

        <Card title="Chaos the bot (2017)">
          <Fragment slot="text">
            <p>
              I participated in
              <a href="https://github.com/Chaosthebot/">Chaos the bot</a>, which
              is a social coding experiment that updates its own code
              democratically, in Python.<br />
              I have
              <a
                href="https://github.com/Chaosthebot/Chaos/commits?author=flibustier"
                >several pull requests</a
              >
              <br />
              The main one is
              <a href="https://github.com/Chaosthebot/Chaos/pull/309"
                >the creation of dynamic voting window</a
              >
            </p>
          </Fragment>
        </Card>
      </div>
    </section>

    <section id="hackathon">
      <h1>Hackathon</h1>

      <div class="cards">
        <Card title="EU Blockathon EUIPO (2018)" img="logo-ce.png">
          <Fragment slot="text">
            <p>
              <strong>Runner-up prize</strong> for the customs authority challenge.<br
              />
              TrustTrack project is designed to support customs and applies, at manufacturer
              level, a unique QR code of a near-field communication (NFC) chip and
              a temper-evident seal.<br />
              When the seal is intact, the product can be easily handled and fast
              tracked by customs in order to improve efficiency and effectiveness
              of the resources.<br />
              The system can be integrated with various existing infrastructures
              and blockchains.
            </p>
          </Fragment>
        </Card>

        <Card title="Solutec Hackathon (2016)" img="dreamhacker.png">
          <Fragment slot="text">
            <p>
              <strong>First place</strong> at the Solutec's Hackathon<br />
            </p>
            <p>Unity - Graph Database - PHP - Network</p>
          </Fragment>
          <Fragment slot="footer">
            <a href="https://flibustier.github.io/dreamhacker-presentation/">
              <button>View Presentation</button>
            </a>
          </Fragment>
        </Card>
      </div>
    </section>

    <section id="commercial">
      <h1>Commercial</h1>

      <div class="cards">
        <Card title="SkillMatrix (2016 - 2018)" img="skillmatrix-alt.png">
          <Fragment slot="text">
            <p>HR application for managing consultants</p>
            <p>Vue.JS - Symfony 4 - PHP 7.2 - Linux - Git</p>
          </Fragment>
        </Card>
        <Card title="VeMaSys (2015)" img="vemasys.png">
          <Fragment slot="text">
            <p>
              My participation in this project was about Symfony, backend
              services, Python and Linux server (system administration).
            </p>

            <p>Symfony 2 - Linux - Python - Team Work</p>
          </Fragment>
        </Card>
      </div>
    </section>
  </div>
</Layout>

<style>
  .container {
    padding: 3rem 1rem;
  }

  nav {
    margin-bottom: 3rem;
    text-align: right;

    a {
      text-transform: uppercase;
      margin: 0.5rem;
      border-bottom: 1px solid transparent;
      transition: border 0.3s;

      &.is-active,
      &:hover {
        border-color: inherit;
      }
    }
  }

  @media screen and (min-width: 80rem) {
    .container {
      padding-left: 16rem;
    }

    nav {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: fixed;
      left: 0rem;
      z-index: 10;
      color: rgb(168, 178, 209);

      a {
        margin: 1rem;
      }
    }
  }

  @media screen and (max-width: 40rem) {
    nav {
      display: none;
    }
  }

  h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 1.2em;
  }

  section {
    margin-bottom: 3rem;
    transition:
      opacity 1s,
      transform 1s;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }
</style>
