@font-face {
  font-family: 'Kaleko';
  src: url('~assets/fonts/Kaleko-105.woff2') format('woff2'),
    url('~assets/fonts/Kaleko-105.woff') format('woff'),
    url('~assets/fonts/Kaleko-105.svg') format('svg'),
    url('~assets/fonts/Kaleko-105.ttf') format('ttf'),
    url('~assets/fonts/Kaleko-105.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Kaleko', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;
}

body {
  transition: background $transition-speed, color $transition-speed;
}

a {
  text-decoration: none;
  color: $primary;
  cursor: pointer;
}

.tag {
  color: #5f6f21;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  line-height: 1.3rem;
  padding: 0.2rem 0.75rem 0 0.75rem;
  white-space: nowrap;
}

button,
.tag {
  font-size: 0.78rem;
  border: thin solid;
  border-radius: 290486px;
}

button {
  color: $primary;
  background-color: unset;
  transition: background 0.3s;
  padding: 0.2rem 0.7rem;
  &[disabled] {
    box-shadow: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover {
    cursor: pointer;
    color: white;
    background-color: $primary;
    border-color: $primary;
  }
}

h1 {
  text-transform: uppercase;
}

strong {
  font-weight: bold;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-speed;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
